<nav>
  <div class="nav-bar-top">
    <div class="nav-top-left">
      <a routerLink=""><img id="logo"src="./assets/images/logo.png" alt=""></a>
    </div>
    <div class="nav-top-mid">
      <select class="dropdown" name="">

      </select>
      <input type="text" name="" value="" placeholder="Search Reddit">
    </div>
    <div class="nav-top-right">
      <img class="nav-icon"src="./assets/images/line-chart.png" alt="">
      <img class="nav-icon" src="./assets/images/growth.png" alt="">
      <img class="nav-icon"src="./assets/images/oc.png" alt="">
    </div>
    <div class="nav-bar-far-right">
      <button type="button" name="button">Login</button>
      <button type="button" name="button">Sign Up</button>
      <a routerLink="profile"><img class="nav-icon"src="./assets/images/profile.png" alt=""></a>
    </div>
  </div>
  <div class="nav-bar-bottom">
    <div class="nav-bottom-left">
      <span>view</span>
      <img class="nav-icon"src="./assets/images/icon.png" alt="">
      <img class="nav-icon"src="./assets/images/icon.png" alt="">
      <img class="nav-icon"src="./assets/images/icon.png" alt="">
    </div>
    <div class="nav-bottom-right">
      <span>SORT</span>
      <select class="" name="HOT">

      </select>
      <select class="" name="UNITED STATES">

      </select>
      <select class="" name="ALL STATES">

      </select>
    </div>
  </div>
</nav>
