.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 2%;
  justify-content: space-around;
}

.posts{
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 170px;
}

#title {
  display: flex;
  margin-top: 1%;
  margin-bottom: 2%;
}

p {
  color: grey;
}
